<main class="container page-content-padding page-content page-content--front-page">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">

      {{ post.content }}

    </div>
  </div>
</main>
