/**

Table of Contents:
---------------------
1. Colours
2. Typography

**/

// Colours
// ---------------------

$black: #393C43;
$highlight: #CEA767;
$brown: #8F6F4A;
$faint: #BABDC4;

// Typography
// ---------------------

$font-regular: 'adobe-garamond-pro', 'Garamond', 'Georgia', serif;
$font-headings: 'orpheuspro', 'adobe-garamond-pro', 'Garamond', 'Georgia', serif;
