.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid $highlight;
  background-color: white;

  &--scrolled {
    box-shadow: 1px 1px 5px transparentize($black, 0.8);
  }

  &__logo-text {
    margin-bottom: 0;
    font-size: 1.875rem;
    color: $highlight;
  }

  &__logo-link {
    line-height: 1;

    &:hover {
      text-decoration: none;
    }
  }
}
