body {
  font-size: 18px;
  line-height: 1.66;
  font-family: $font-regular;
}

h1,
h2 {
  font-family: $font-headings;
  font-weight: 300;
  color: $black;
}

hr {
  max-width: 100%;
}

h1 {

}

h2 {
  font-size: 1.875rem;
  line-height: 1.5;
}

h3 {
  font-family: $font-regular;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.9375rem;
}

h4 {

}

blockquote {
  margin-left: 2.5rem;
  margin: 2rem 0 2rem 3rem;
  padding-left: 1rem;
  border-left: 5px solid #eee;
}

hr {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.lead-text {
  max-width: 950px;
  margin: 2rem 0;
}

.page-content {

  a {
    text-decoration: underline;
    text-decoration-color: $highlight;
    color: $black;

    &:hover {
      color: $highlight;
    }
  }
}
